.card-box__description {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 25px 22px 31px 21px;
	box-sizing: border-box;
	border-radius: 0 0 10px 10px;
	margin: 0;
	background-color: #ffffff;
	color: #000000;
}
