.popup__form-btn {
	width: 90%;
	max-width: 400px;
	min-height: 30px;
	background: #000000;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	transition: ease 0.3s;
	padding: 0;
	outline: none;
}
.popup__form-btn:hover {
	transition: ease 0.4s;
	opacity: 0.8;
	cursor: pointer;
}
.popup__form-btn:active {
	outline: none;
}
.popup__form-btn:disabled {
	cursor: default;
}
@media screen and (min-width: 768px) {
	.popup__form-btn {
		margin-top: 48px;
		margin-bottom: 0;
		min-width: 358px;
		min-height: 50px;
	}
}
