.profile__about {
	max-width: 200px;
	text-align: start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.21;
}
@media screen and (min-width: 768px) {
	.profile__about {
		max-width: 320px;
		font-size: 18px;
		line-height: 1.2;
	}
}
